body {
    font-family: 'Montesserat';
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    color: #8f8f8f; 
    font-size: 15pt;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

/* Headings */

.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

#title {
    background-color: #FF8F36;
    
    color: white;
    text-align: left;
}


.container-fluid {
    padding: 3% 15% 7%;

}



/* Navigation bar */

.navbar {
    padding: 0 0 4.5rem 0;
    margin-right: 0;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding:  0px 18px;
    text-align: right;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: lighter;
}


/* Dowload Buttons */

.btn-dark {
    margin-right: 10px;
}

.btn {
    margin-top: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
    width: 20%;
    position: absolute;
    right: 25%;
    
    
}


/* Features */

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.featuresbox {
    padding: 5%;
}

.featuresimg {
    color: #FF8F36;
    width: 40px;
    margin: auto;
    margin-bottom: 1rem;
}

.featuresimg:hover {
    color: #c2661a;
} 

/* Testimonial Section */

.TestandPressBG {
    background-color: #FF8F36;
}

.titulo-atraçoes{
    margin-top: 3%;
}

#testimonials {
    
    color: white;
}

.testimonial-image {
    height: 250px;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    
    padding-bottom: 3%;

}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

.popcorn {
    width: 150px;
}

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

/* Estilo do pop-up */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}


/* Call To Action */

#cta {
    background-color: #FF8F36;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 7% 15%;
}

.cta_title {
    font-size: 3rem;
    padding-bottom: 5%;
    font-weight: 700;
    line-height: 1.5;
} 

.downloadbtn {
    margin-right: 20px;
    margin-top: 15px;
}

.mapa {
    width: 80%;
    
}

/* Footer */

#footer {
    padding: 7% 15%;
    background-color: #FF8F36;
}

.ficon {
    margin: 20px 10px;
    color: white;
}

.footer-text {
    color: white;
}

@media (max-width: 1400px) {
        
    #title {
        text-align: center;
    }
    

    .title-image {
        position: static;
         padding-top: 30px;
        width: 60%;
         transform: rotate(0);
    }
}